.calculator {
    margin: 40px auto;
    background-color: rgb(120, 120, 120);
    border-radius: 5px;
    width: 500px;
    height: 650px;
    box-shadow: 1px 1px 0px #444, 2px 2px 0px #444, 3px 3px 0px #444, 4px 4px 0px #444, 5px 5px 0px #444, 6px 6px 0px #444, 7px 7px 0px #444, 8px 8px 0px #444, 12px 12px 7px #888;
    text-align: center;
    outline: 3px solid #999;
    outline-offset: -20px;
    outline-style: outset;
}

.viewer {
    background-color: rgb(181, 231, 187);
    margin: 40px;
    font-size: 60px;
    text-align: right;
    border-radius: 5px;
    box-shadow: 0 5px 0 5px #444;
    width: 400px;
    height: 80px;
    font-family: 'Orbitron', sans-serif;
}

.buttons-area {
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

.button {
    border: 0.5px solid white;
    width: 80px;
    padding: 10px 20px;
    font-size: 30px;
    text-align: center;
    color: #fff;
    background-color: #555;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin: 8px;
}

.button:hover {
    background-color: #333;
}

.button:active {
    background-color: #333;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.button-important {
    border: 0.5px solid white;
    width: 80px;
    padding: 10px 20px;
    font-size: 30px;
    color: #fff;
    background-color: rgb(255, 99, 71);
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin: 8px;
}

.button-important:hover {
    background-color: rgb(255, 70, 50);
    ;
}

.button-important:active {
    background-color: rgb(255, 70, 50);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.button-side {
    border: 0.5px solid white;
    width: 80px;
    padding: 10px 20px;
    font-size: 24px;
    color: #fff;
    background-color: rgb(86, 168, 255);
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin: 8px;
}

.button-side:hover {
    background-color: rgb(34, 103, 255);
}

.button-side:active {
    background-color: rgb(34, 103, 255);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

button:focus {
    outline: none;
}
